

body{

  .sf-toolbarreset{
    background-color: #244657;
  }
  div{
    background-color:green;
  }
  h1 {
    text-align: center; 
    } 
    h1{
      color: darkslateblue;
    }
  p{
    color:black;
}
}
